extend layout
block content
    div#container
    script(src="js/three.min.js")
    script(src="js/detector.js")
    script(src="js/stats.min.js")
    script(src="js/main.js")
    

        
           